@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F8FAFC] text-[#0F172A] selection:bg-blue-600/20 selection:text-blue-900 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
}

/* Utility */
.rounded-ui {
  border-radius: 15px;
}

.font-black {
  font-weight: 900;
}
