@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-900 selection:bg-blue-600/10 selection:text-blue-600 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
}

/* Rounded UI Utility */
.rounded-ui {
  border-radius: 15px;
}
